body{
  font-family:sans-serif;
  background:rgb(220,220,220);
}
#formlogin{
  width:300px;
  height:380px;
  margin:auto;
  margin-top:100px;
  background:white;
  padding:30px;
  text-align:center;
}
#logo{
  width:50%;
}
input,button{
  width:100%;
  padding:10px 0px;
  margin-bottom:10px;
  margin-top:10px;
}

