/Primero/Entornos de desarrollo/001-Desarrollo de software/002-Código fuente, código objeto y código ejecutable; tecnologías de virtualización/HolaEntornos/nbproject/private/
/Segundo/Acceso a datos/001-Manejo de ficheros/001-Clases asociadas a las operaciones de gestión de ficheros y directorios creación, borrado, copia, movimiento, recorrido, entre otras/fotos
