html, head { 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}
html,body{
    padding:0px;
    margin:0px;
    background:black;
}
        body{
            font-family:monospace;
            
        }
        #jugadores div{
            border-width:3px;
            border-style: solid;
            border-left-width:30px; 
            padding:5px;
            text-align:right;
            border-radius:30px;
            margin:5px;
        }
canvas{
    image-rendering: pixelated; image-rendering: crisp-edges;
    position:absolute;
    top:0px;
    left:0px;
	width:100%;
}
#lienzo{
    mix-blend-mode: screen;
}
#inicio{
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-200px;
    text-align:center;
    color:white;
    z-index:10000;
}
#inicio input,#inicio button,#inicio select{
    box-sizing: border-box;
    width:50%;
    margin-top:10px;
}

        