.jvideo{
				width:600px;
				height:320px;
				border:1px solid grey;
				position:relative;
			}
			.jvideo video{
				width:100%;
			}
			.jvideo .barracontroles{
				position:absolute;
				width:400px;
				height:36px;
				background:white;
				border-radius:30px;
				bottom:30px;
				left:50%;
				margin-left:-200px;
				padding-left:2px;
			}
			.jvideo .barracontroles button{
				width:36px;
				height:36px;
				border:none;
				background:none;
				margin:0px;
				padding:2px;
			}
			.jvideo .barracontroles button img{
				width:100%;
			}
			.jvideo .barraprogreso{
				position:absolute;
				width:500px;
				height:10px;
				background:white;
				border-radius:30px;
				bottom:5px;
				left:50%;
				margin-left:-250px;
				overflow:hidden;
				box-shadow:0px 0px 5px rgba(0,0,0,0.6) inset;
			}
			.jvideo .barraprogreso .progreso{
				width:50%;
				background:DarkOliveGreen;
				height:100%;
			}
