section{
  width:200px;
  height:200px;
  margin:auto;
  padding:20px;
  box-shadow:0px 2px 4px rgba(0,0,0,0.3);
  text-align:center;
}
section *{
  width:100%;
  box-sizing:border-box;
  padding:10px 0px;
  margin:5px 0px;
}
