#tablero{
      width:850px;
      height:850px;
      line-height: 0;
    }
      #tablero div{
        border:1px solid grey;
        width:100px;
        height:100px;
        display:inline-block;
        position:relative;
      }
      .celdablanca{background:white;}
      .celdanegra{background:black;}
      article{
        width:50px;
        height:50px;
        background:grey;
        border-radius:50px;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-25px;
        margin-top:-25px;
        box-shadow:0px 4px 8px rgba(0,0,0,0.5);
      }
      .fichablanca{
        border:1px solid black;
        background:white;
      }
      .fichanegra{
        border:1px solid white;
        background:black;
      }
