html,body{
				padding:0px;
				margin:0px;
			}
			header{
				height:44px;				/* Altura de la barra */
				position:fixed;
				top:0px;
				width:100%;
				background:white;
				box-shadow:0px 2px 4px rgba(0,0,0,0.3);
			}
			header .contenedor{
				width:1024px;
				margin:auto;
			}
			header .contenedor img{
				width:30px;
				display:inline-block;
				margin-top:6px;
			}
			header .contenedor nav{
				display:inline-block;
				vertical-align:top;
			}
			header .contenedor ul{
				list-style-type:none;
				padding:0px;
				margin:0px;
			}
			header .contenedor ul li{
				display:inline-block;
				margin:0px 20px;
				line-height:44px;
			}
			header .contenedor ul li a{
				text-decoration:none;
				color:inherit;
			}
