body,html{
  font-family:sans-serif;
  background:crimson;
  padding:0px;
  height:100%;
  margin:0px;
  color:white;
}
header{
  padding:20px;
}
main{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	height:100%;
}
main nav{
  width:20%;
  height:100%;
}
main section{
  width:80%;
  background:white;
  height:100%;
  border-radius:20px 0px 0px 0px;
  color:black;
  padding:20px;
}
main section table{
  width:100%;
}
main section table thead{
  background:crimson;
  color:white;
  
}
main section table thead tr th:first-child{
  border-radius:20px 0px 0px 20px;
}
main section table thead tr th:last-child{
  border-radius:0px 20px 20px 0px;
}
main section table td,main section table th{
  padding:10px;
}
main section table tbody tr:nth-child(even){
  background:#f0e0e3;
}
nav ul{
  list-style-type:none;
  padding:0px;
}
nav ul li{
  padding:15px;
  cursor:pointer;
}
#modal{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.5);
  display:none;
  backdrop-filter:blur(5px);
}
#contienemodal{
  width:800px;
  height:800px;
  position:absolute;
  top:50%;
  left:50%;
  background:white;
  margin-left:-400px;
  margin-top:-400px;
  border-radius:10px;
  box-sizing:border-box;
  padding:20px;
  box-shadow:0px 5px 10px rgba(0,0,0,0.5);
  color:black;
}

#insertar{
  width:30px;
  height:30px;
  background:crimson;
  color:white;
  border:none;
  border-radius:30px;
  margin-bottom:10px;
  font-size:30px;
  text-align:center;
  line-height:30px;
  font-weight:bold;
}
