body{
  font-family:sans-serif;
  background:crimson;
}
#formlogin{
  width:300px;
  height:380px;
  margin:auto;
  margin-top:100px;
  background:white;
  padding:30px;
  text-align:center;
}
#logo{
  width:50%;
}
input,button{
  width:100%;
  padding:10px 0px;
  margin-bottom:10px;
  margin-top:10px;
  border:none;
  border-bottom:2px solid crimson;
  transition:all 1s;
}
input:focus{
	outline:none;
	background:crimson;
	color:white;
}
button{
	background:crimson;
	color:white;
	border:none;
	padding:10px;
	border-radius:20px;
}
