<!doctype html>
<html>
	<head>
		<style>
			*{padding:0px;margin:0px;}
			body{
				background:rgb(220,220,220);
			}
			article{
				background:white;
				padding:20px;
				border-radius:10px;
				box-shadow:0px 4px 10px rgba(0,0,0,0.3);
				margin:10px;
			}
		</style>
	</head>
	<body>
		<main>
			<article>
				<h3>Asunto:<input type="text" id="asunto"></h3>
				<h4>Para:<input type="text" id="para"></h4>
				<p>Mensaje: <input type="text" id="mensaje"></p>
				<button>Enviar</button>
			</article>
		</main>
		<template id="correo">
			<article>
				<h3>Asunto</h3>
				<h4>De:</h4>
				<p>Cuerpo del correo</p>
			</article>
		</template>
		<script>
			const plantilla = document.getElementById('correo');
			const contenedor = document.querySelector('main');
			fetch("http://localhost:5000/recibir")
			.then(function(response){
				return response.json()
			})
			.then(function(datos){
				console.log(datos)
				datos.forEach(function(dato){
					let tarjeta = plantilla.content.cloneNode(true);
					tarjeta.querySelector("h3").textContent = dato.Asunto
					tarjeta.querySelector("h4").textContent = dato.De
					tarjeta.querySelector("p").textContent = dato.Cuerpo
					contenedor.appendChild(tarjeta)
				})
			})
			let boton = document.querySelector("button")
			boton.onclick = function(){
				mensaje = {
					"asunto":document.querySelector("#asunto").value,
					"para":document.querySelector("#para").value,
					"mensaje":document.querySelector("#mensaje").value,
				}
				fetch("http://localhost:5000/enviar",{
				  method: 'POST',
				  headers: {
					 'Content-Type': 'application/json',
				  },
				  body: JSON.stringify(mensaje),
				})
			}
		</script>
		
	</body>
</html>
